/********** Template CSS **********/
:root {
    --primary: #D77A61;
    --secondary: #223843;
    --light: #ffffff;
    --dark: #223843;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 30px;
    z-index: 99;
}

h1,
.h1,
h2,
.h2,
.fw-bold {
    font-family: "Jost", sans-serif;
    font-weight: 700 !important;
    color: var(--secondary);
}

.carousel-inner h1 {
    text-shadow: 2px 2px 4px #000;
}

h3,
.h3,
h4,
.h4,
.fw-medium {
    font-weight: 600 !important;
    color: var(--secondary);
}

h5,
.h5,
h6,
.h6,
.fw-semi-bold {
    font-weight: 500 !important;
    color: var(--secondary);
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    transition: .5s;
    font-weight: 500;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    background-color: var(--secondary);
    color: var(--light);
    width: 48px;
    height: 48px;
}

.btn-lg-square.bg-secondary {
    background-color: var(--secondary);
    color: var(--light);
    width: 48px;
    height: 48px;
}

.btn-lg-square i.text-white {
    color: white;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}


/*** Navbar ***/
.navbar.sticky-top {
    top: -100px;
    transition: .5s;
}

.navbar .navbar-brand,
.navbar a.btn {
    height: 80px
}

.navbar .navbar-nav .nav-link {
    margin-right: 35px;
    padding: 25px 0;
    color: var(--dark);
    font-size: 18px;
    font-weight: 500;
    outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

#imagem {
    padding-left: 60px;
}

@media (max-width: 991.98px) {
    .navbar .navbar-nav .nav-link {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}

#logoutBtnNav {
    display: none;
  }

#logoutBtnFooter {
    display: none;
}

/*** Header ***/
.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgba(200, 109, 48, 0.2);
    z-index: 1;
}

.carousel-control-prev,
.carousel-control-next {
    width: 15%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
    background-color: var(--secondary);
    border: 10px solid var(--secondary);
}

@media (max-width: 768px) {
    #header-carousel .carousel-item {
        position: relative;
        min-height: 450px;
    }

    #header-carousel .carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}


.page-header.sobre {
    background: linear-gradient(rgba(200, 109, 48, 0.2), rgba(200, 109, 48, 0.2)), url(../img/sobre.jpg) center center no-repeat;
    background-size: cover;
}
.page-header.atividades {
    background: linear-gradient(rgba(200, 109, 48, 0.2), rgba(200, 109, 48, 0.2)), url(../img/atividades.jpg) center center no-repeat;
    background-size: cover;
}

.page-header.pintura {
    background: linear-gradient(rgba(200, 109, 48, 0.2), rgba(200, 109, 48, 0.2)), url(../img/pintura.jpg) center center no-repeat;
    background-size: cover;
}

.page-header.croche {
    background: linear-gradient(rgba(200, 109, 48, 0.2), rgba(200, 109, 48, 0.2)), url(../img/croche.jpg) center center no-repeat;
    background-size: cover;
}

.page-header.escultura {
    background: linear-gradient(rgba(200, 109, 48, 0.2), rgba(200, 109, 48, 0.2)), url(../img/escultura.jpg) center center no-repeat;
    background-size: cover;
}

.page-header.costura {
    background: linear-gradient(rgba(200, 109, 48, 0.2), rgba(200, 109, 48, 0.2)), url(../img/costura.jpg) center center no-repeat;
    background-size: cover;
}

.page-header.bordado {
    background: linear-gradient(rgba(200, 109, 48, 0.2), rgba(200, 109, 48, 0.2)), url(../img/bordado.jpg) center center no-repeat;
    background-size: cover;
}

.page-header.ceramica {
    background: linear-gradient(rgba(200, 109, 48, 0.2), rgba(200, 109, 48, 0.2)), url(../img/ceramica.jpg) center center no-repeat;
    background-size: cover;
}

.page-header.testemunhos {
    background: linear-gradient(rgba(200, 109, 48, 0.2), rgba(200, 109, 48, 0.2)), url(../img/testemunhos.jpg) center center no-repeat;
    background-size: cover;
}

.page-header.contacto {
    background: linear-gradient(rgba(200, 109, 48, 0.2), rgba(200, 109, 48, 0.2)), url(../img/contacto.jpg) center center no-repeat;
    background-size: cover;
}

.page-header.inscricao {
    background: linear-gradient(rgba(200, 109, 48, 0.2), rgba(200, 109, 48, 0.2)), url(../img/inscricao.jpg) center center no-repeat;
    background-size: cover;
}

.page-header .breadcrumb-item+.breadcrumb-item::before {
    color: var(--light);
}

.page-header .breadcrumb-item,
.page-header .breadcrumb-item a {
    font-size: 18px;
    color: var(--light);
}

.display-4.text-white {
    text-shadow: 2px 2px 4px #000;
}

.fs-5.fw-semi-bold.text-light {
    text-shadow: 2px 2px 4px #000;
}


/*** Top Feature ***/
@media (min-width: 991.98px) {
    .top-feature {
        position: relative;
        margin-top: -80px;
        z-index: 1;
    }
}


/*** Facts & Quote ***/
.facts,
.quote {
    background: rgba(200, 109, 48, 0.2);
}

/*** Service ***/
.service-item {
    position: relative;
    text-align: center;
}

.service-item .service-img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
}

.service-item .service-img img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    object-fit: cover;
    transform: scale(1.2);
    transition: .3s;
    z-index: -1;
}

.service-item:hover .service-img img {
    transform: scale(1);
}

.service-item .service-text {
    background: #FFFFFF;
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    transition: .3s;
}

.service-item:hover .service-text {
    background: rgba(200, 109, 48, 0.2);
}

.service-item .service-text h4,
.service-item .service-text p {
    transition: .3;
}

.service-item:hover .service-text h4 {
    color: #FFFFFF;
}

.service-item:hover .service-text p {
    color: var(--light);
}

.service-item .service-text .btn-square {
    width: 100px;
    height: 100px;
    background: transparent;
    transition: .5s;
}

.service-item:hover .service-text .btn-square {
    background: var(--light);
}

.service-item .service-text .btn {
    width: 31px;
    height: 31px;
    display: inline-flex;
    align-items: center;
    color: var(--dark);
    background: var(--light);
    white-space: nowrap;
    overflow: hidden;
    transition: .3s;
}

.service-item:hover .service-text .btn {
    width: 112px;
}


/*** Project Portfolio ***/
#portfolio-flters {
    display: inline-block;
    background: var(--light);
    padding: 10px 15px;
}

#portfolio-flters li {
    display: inline-block;
    font-weight: 500;
    color: var(--primary);
    cursor: pointer;
    transition: .5s;
    border-bottom: 2px solid transparent;
}

#portfolio-flters li:hover,
#portfolio-flters li.active {
    color: var(--dark);
    border-color: var(--dark);
}

.portfolio-inner {
    position: relative;
    overflow: hidden;
}

.portfolio-inner::before,
.portfolio-inner::after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(200, 109, 48, 0.2);
    transition: .5s;
}

.portfolio-inner::after {
    left: auto;
    right: 0;
}

.portfolio-inner:hover::before,
.portfolio-inner:hover::after {
    width: 50%;
}

.portfolio-inner .portfolio-text {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .5s;
    z-index: 3;
    opacity: 0;
}

.portfolio-inner:hover .portfolio-text {
    transition-delay: .3s;
    opacity: 1;
}

.portfolio-inner .portfolio-text .btn {
    background: var(--light);
    color: var(--primary);
}

.portfolio-inner .portfolio-text .btn:hover {
    background: var(--primary);
    color: var(--light);
}

/*** Team ***/
.team-item {
    position: relative;
    overflow: hidden;
}

.team-item .team-text {
    position: absolute;
    width: calc(100% - 45px);
    left: -100%;
    bottom: 45px;
    padding: 1.5rem;
    background: #FFFFFF;
    border-radius: 0 4px 4px 0;
    opacity: 0;
    transition: .5s;
}

.team-item:hover .team-text {
    left: 0;
    opacity: 1;
}

.team-item .team-social .btn {
    background: var(--light);
    color: var(--primary);
}

.team-item .team-social .btn:hover {
    background: var(--primary);
    color: var(--light);
}

.team-item .team-img .team-social {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
    z-index: 3;
    opacity: 0;
}

.team-item:hover .team-img .team-social {
    transition-delay: .3s;
    opacity: 1;
}


/*** Testimonial ***/
.testimonial-carousel .owl-item img {
    width: 100px;
    height: 100px;
}

.testimonial-carousel .owl-nav {
    margin-top: 30px;
    display: flex;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    margin-right: 15px;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary);
    background: var(--light);
    border-radius: 4px;
    font-size: 22px;
    transition: .5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    background: var(--primary);
    color: var(--light);
}

/*** Footer ***/
.footer {
    background: var(--secondary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: var(--light);
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    color: var(--primary);
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .mb-2 {
    color: var(--light);
}

.footer .me-2 {
    background-color: var(--secondary);
    color: var(--light);
}

.footer .me-2:hover {
    background-color: var(--secondary);
    color: var(--primary);
    border-color: var(--primary);
}

.footer p {
    color: var(--light);
}

.copyright {
    background: #162534;
    color: var(--light);
}

.copyright a {
    color: var(--light);
}

.copyright a:hover {
    color: var(--primary);
}

/*Login Start*/

.animated {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated.hinges {
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
}

.animated.slow {
    -webkit-animation-duration: 3s;
    -moz-animation-duration: 3s;
    -o-animation-duration: 3s;
    animation-duration: 3s;
}

.animated.snail {
    -webkit-animation-duration: 4s;
    -moz-animation-duration: 4s;
    -o-animation-duration: 4s;
    animation-duration: 4s;
}

@-webkit-keyframes shake {

    0%,
    100% {
        -webkit-transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translateX(-10px);
    }

    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translateX(10px);
    }
}

@-moz-keyframes shake {

    0%,
    100% {
        -moz-transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        -moz-transform: translateX(-10px);
    }

    20%,
    40%,
    60%,
    80% {
        -moz-transform: translateX(10px);
    }
}

@-o-keyframes shake {

    0%,
    100% {
        -o-transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        -o-transform: translateX(-10px);
    }

    20%,
    40%,
    60%,
    80% {
        -o-transform: translateX(10px);
    }
}

@keyframes shake {

    0%,
    100% {
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-10px);
    }

    20%,
    40%,
    60%,
    80% {
        transform: translateX(10px);
    }
}

.shake {
    -webkit-animation-name: shake;
    -moz-animation-name: shake;
    -o-animation-name: shake;
    animation-name: shake;
}

.login .modal-dialog {
    width: 350px;
}

.login .modal-footer {
    border-top: 0;
    margin-top: 0px;
    padding: 10px 20px 20px;
}

.login .modal-header {
    border: 0 none;
    padding: 15px 15px 15px;
    /*     padding: 11px 15px;*/
}

.login .division {
    float: none;
    margin: 0 auto 18px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
}

.login .division .line {
    border-top: 0.5px solid #64a19d;
    position: absolute;
    top: 13px;
    width: 34%;
}

.login .division .line.l {
    left: 0;
}

.login .division .line.r {
    right: 0;
}

.login .division span {
    color: #424242;
    font-size: 17px;
}

.login .box .social {
    float: none;
    margin: 0 auto 20px;
    text-align: center;
}

.google-button {
    text-decoration: none;
    width: 100%;
    height: 40px;
    background: white;
    color: var(--secondary);
    border-radius: 5px;
    white-space: nowrap;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
    -webkit-transition-property: background-color, box-shadow;
    transition-property: background-color, box-shadow;
    -webkit-transition-duration: 150ms;
    transition-duration: 150ms;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.google-button:focus,
.google-button:hover {
    box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.5);
}

.google-button:active {
    background-color: #e5e5e5;
    box-shadow: none;
    -webkit-transition-duration: 10ms;
    transition-duration: 10ms;
}

.google-button-icon {
    /* display: inline-block; */
    vertical-align: middle;
    margin: 8px 0 8px 8px;
    width: 18px;
    height: 18px;
    box-sizing: border-box;
}

.google-button-text {
    /* display: inline-block; */
    vertical-align: middle;
    padding: 0 24px;
    font-size: 14px;
}

.ougrey {
    color: grey;
    display: flex;
    margin-top: 20px;
}

.ougrey::before,
.ougrey::after {
    content: '';
    width: 100%;
    height: 1px;
    background: grey;
    margin: auto;
}

.ougrey::before {
    margin-right: 1rem;
}

.ougrey::after {
    margin-left: 1rem;
}

.login .forgot {
    color: #797979;
    margin-left: 0;
    overflow: hidden;
    text-align: center;
    width: 100%;
}

.login .btn-login,
.registerBox .btn-register {
    background-color: var(--secondary);
    border-color: var(--secondary);
    border-width: 0;
    color: #ffff;
    display: block;
    margin: 0 auto;
    padding: 15px 50px;
    text-transform: uppercase;
    width: 100%;
}

.login .btn-login:hover,
.registerBox .btn-register:hover {
    background-color: var(--primary);
    color: #FFFFFF;
}

.login .form-control {
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.09);
    box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.09) inset;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.login .error {
    font-size: 11px;
    padding-bottom: 3px;
    font-style: italic;
    color: #64a19d;
}

.login .form-control:hover {
    background-color: rgba(0, 0, 0, .16);
}

.login .form-control:focus {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.04) inset;
    background-color: rgba(0, 0, 0, 0.23);
    color: #ffff;
}

.login .box .form input[type="text"],
.login .box .form input[type="password"] {
    border-radius: 3px;
    border: none;
    color: #333333;
    font-size: 16px;
    height: 46px;
    margin-bottom: 15px;
    padding: 13px 12px;
    width: 100%;
}

.login .box .form input[type="text"],
.login .box .form input[type="email"] {
    height: 46px;
    color: #333333;
}


@media (max-width:400px) {
    .login .modal-dialog {
        width: 100%;
    }
}

.big-login,
.big-register {
    background-color: #64a19d;
    color: #FFFFFF;
    border-radius: 7px;
    border-width: 2px;
    font-size: 14px;
    font-style: normal;
    font-weight: 200;
    padding: 16px 60px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}

.big-login:hover {
    background-color: #64a19d;
    color: #FFFFFF;
}

.big-register {
    background-color: rgba(0, 0, 0, .0);
    color: #64a19d;
    border-color: #64a19d;
}

.big-register:hover {
    border-color: #64a19d;
    color: #64a19d;
}

/*Login End*/

.status-badge {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }

